
<link rel="stylesheet" href="/css/home.css">
<div id="body-container">
   <%if(!locals.user.isAdmin){%>
        <div class="admin-pass">
        <form action="/admin/admin-pass" method="POST">
            <input type="password" name="admin_password" placeholder="admin password">
            <button type="submit" class="pass-btn">Enter as Admin</button>
        </form>
   </div>
    <%}%>

    <div class="home-box">
        <i class="text-colr">the Application involves creating a database to store information about employees and reviews, building a web interface to create and view reviews, and implementing access controls to ensure that only the administrator can see all reviews and give permission to employees to view their own reviews.</i>
        <hr>
    </div>

    <div class="home-box">
                <h5 class="text-colr">Give Review to other employee*
                    <br>
                <small class="small-text text-colr"><i>this task is assigned by admin</i></small>
                </h5>
            <div class="review-box">
               
                <% for(let r of recipients){ %> 
               <%if(r!= null){%>
                   <div class="card no-b ">
                    <div class="card-body">
                      <h5 class="card-title text-colr">To:<%= r.name %></h5>
                      <form action="/reviews/newReview/<%= r._id %>" method="get">
                        <textarea
                        class="form-control"
                        placeholder="Leave a review here"
                        id="floatingTextarea2"
                        style="height: 100px"
                        name="newReview"
                        rows="5">
                        </textarea>
                        <div class="right-alligned m-10">
                            <button type="submit" class="btn btn-info mt-2">submit </button>
                        </div>
                      </form>
                    </div>
                </div>
                <%}%>
            <% } %>

            </div>

    </div>

    <div class="home-box">
                <h5 class="text-colr">My Reviews by Other employee*</h5>
            <div class="review-box">

              <% for(let i = 0; i < reviews.length; i++) { %>
                <div class="card-out">
                    <div class="in-card">
                      <h5 class="cls-txt">message : <%= reviews[i].review %></h5>
                      <p class="cls-txt">from : <%= reviews[i].name %></p>
                      </form>
                    </div>
                </div>
            <% } %>

            </div>
        
    </div>
        
</div>