
<link rel="stylesheet" href="/css/home.css">
<div id="body-container">

    <div class="home-box">
        <i class="text-colr">the Application involves creating a database to store information about employees and reviews, building a web interface to create and view reviews, and implementing access controls to ensure that only the administrator can see all reviews and give permission to employees to view their own reviews.</i>
        <hr>
    </div>

    <div class="home-box">
                <h5 class="text-colr">Give Review to other employee*
                    <br>
                <small class="small-text text-colr"><i>this task is assigned by admin</i></small>
                </h5>
            <div class="review-box">

            </div>

    </div>

    <div class="home-box">
                <h5 class="text-colr">My Reviews by Other employee*</h5>
            <div class="review-box">

            </div>
        
    </div>
        
</div>