<!-- <div class="container my-5">

    <div class="row mt-3">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center">Log In</h1>

                <form action="/users/create-session" method="post">
                    <div class="form-group mt-2">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"/>
                    </div>
    
                    <div class="form-group mt-2">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"/>
                    </div>

    
                    <div class="d-grid gap-2 col-12 mx-auto mt-3">
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </div>

                    <p class="lead mt-4">
                        Have No Account? <a class="r-link" href="/users/register">Register</a>
                    </p>
                </form>

            </div>
        </div>
    </div>

</div> -->

<link rel="stylesheet" href="/css/login.css">
<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<h4 class="company_title">Your Company Logo</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Log In</h2>
					</div>
					<div class="row">
						<form control="" class="form-group">
							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Username">
							</div>
							<div class="row">
								<input type="password" name="password" id="password" class="form__input" placeholder="Password">
							</div>
							<div class="row">
								<input type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>
					<div class="row">
						<p>Don't have an account? <a href="#">Register Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="container-fluid text-center footer">
		Coded By &hearts; by <a href="https://divyagaurav21.github.io/my-portfolio/">Divya Gaurav</a></p>
	</div>