<!-- register ejs template html code  -->
<link rel="stylesheet" href="/css/login.css">
<!-- Main Content -->
	<div class="container-fluid">
		<div style="margin: 1em auto;" class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<h4 class="company_title"><i>Company Name Logo</i></h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Register Here</h2>
					</div>
                    <!-- contailner for taking user Input  -->
					<div class="row">
						<form control="" class="form-group" action="/users/create-user" method="POST">
							<div class="row">
								<input type="text" name="name" id="username" class="form__input" placeholder="Username">
							</div>
							<div class="row">
								<input type="text" name="email" id="username" class="form__input" placeholder="Email">
							</div>
							<div class="row">
								<input type="password" name="password" id="password" class="form__input" placeholder="Password">
							</div>
							<div class="row">
								<input type="password" name="password2" id="password" class="form__input" placeholder="Confirm Password">
							</div>
							<div class="row">
								<input type="submit" value="Register" class="btn">
							</div>
						</form>
					</div>
                    <!-- login container  -->
					<div class="row">
						<p>Have An Account? <a href="/users/login">Log In</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	