.text-colr{
    color: rgb(4, 71, 102);
}
.btn-bg{
    background-color: rgb(4, 71, 102);
    color: #fff;
}
.btn-bg:hover{
    background-color: transparent;
    color: rgb(4, 71, 102);
    border: 1px solid rgb(4, 71, 102);
}